html, body {
  height: 100%;
  overflow: hidden; /* 加它的目的，不出现滚动条 */
}

body {
  background: url('/assets/images/login_bg.jpg') no-repeat 0 0 / cover;
}

#logo {
  margin: 20px 0 0 230px;
}

.box {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box_title {
  height: 60px;
  background: url('/assets/images/login_title.png') no-repeat center center;
}

.register {
  display: none;
}


.layui-form {
  margin: 0 25px;
}

.toregister {
  float: right;
}

.layui-form-item {
  position: relative;
}

.layui-icon {
  position: absolute;
  top: 10px;
  left: 8px;
}

.layui-input {
  padding-left: 25px;
}